<a href="https://colab.research.google.com/github/Krzesimir13/Data-Science/blob/main/161_170_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 161](#1)
* [Ćwiczenie 162](#2)
* [Ćwiczenie 163](#3)
* [Ćwiczenie 164](#4)
* [Ćwiczenie 165](#5)
* [Ćwiczenie 166](#6)
* [Ćwiczenie 167](#7)
* [Ćwiczenie 168](#8)
* [Ćwiczenie 169](#9)
* [Ćwiczenie 170](#10)

### <a name='0'></a>Import biblioteki

In [81]:
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format
np.__version__

'2.0.2'

### <a name='1'></a> Ćwiczenie 161
Wczytaj do obiektu _DataFrame_ o nazwie _df_ plik csv znajdujący się pod linkiem:
* https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv

Ustaw indeks obiektu _df_ na pierwszą kolumnę. Wyświetl obiekt _df_.

In [82]:
df = pd.read_csv('https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv')

Wyświetl informacje na temat obiektu _df_.

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

Wyświetl podstawowe statystyki obiektu _df_.

In [84]:
df.describe()

       Unnamed: 0    Year  Kilometers_Driven   Seats   Price
count     6019.00 6019.00            6019.00 5977.00 6019.00
mean      3009.00 2013.36           58738.38    5.28    9.48
std       1737.68    3.27           91268.84    0.81   11.19
min          0.00 1998.00             171.00    0.00    0.44
25%       1504.50 2011.00           34000.00    5.00    3.50
50%       3009.00 2014.00           53000.00    5.00    5.64
75%       4513.50 2016.00           73000.00    5.00    9.95
max       6018.00 2019.00         6500000.00   10.00  160.00

### <a name='2'></a> Ćwiczenie 162
Znajdź listę zawierającą nazwy wszystkich kolumn obiektu _df_.

In [85]:
df.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

Z obiektu _df_ usuń kolumnę o nazwie _New_Price_ i wyświetl 5 pierwszych wierszy.

In [86]:
del df['New_Price']
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.00,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.00,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.00,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.00,17.74

### <a name='3'></a> Ćwiczenie 163
Znajdź liczbę brakujących wartości dla każdej zmiennej obiektu _df_.

In [87]:
df.isna().sum()

Unnamed: 0            0
Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych. Użyj parametru _inplace=True_.

In [88]:
df.dropna(inplace=True)

Wyświetl raz jeszcze informacje na temat obiektu _df_. Zwróć uwagę na liczbę wierszy i typ danych.

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5975 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5975 non-null   int64
 1   Name               5975 non-null   object
 2   Location           5975 non-null   object
 3   Year               5975 non-null   int64
 4   Kilometers_Driven  5975 non-null   int64
 5   Fuel_Type          5975 non-null   object
 6   Transmission       5975 non-null   object
 7   Owner_Type         5975 non-null   object
 8   Mileage            5975 non-null   object
 9   Engine             5975 non-null   object
 10  Power              5975 non-null   object
 11  Seats              5975 non-null   float64
 12  Price              5975 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 653.5+ KB

### <a name='4'></a> Ćwiczenie 164
Zamień wszystkie litery w nazwach kolumn na małe, np.:
* Name -> name
* Fuel_Type -> fuel_type  

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [90]:
df.columns = df.columns.str.lower()
df.head()

,unnamed: 0,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.00,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.00,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.00,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.00,17.74

### <a name='5'></a> Ćwiczenie 165
Znajdź rozkład wartości zmiennej _owner_type_.

In [91]:
df['owner_type'].value_counts()

owner_type
First             4903
Second             953
Third              111
Fourth & Above       8
Name: count, dtype: int64

Znajdź rozkład wartości zmiennej _engine_.

In [92]:
df['engine'].value_counts()

engine
1197 CC    606
1248 CC    512
1498 CC    303
998 CC     259
2179 CC    240
          ...
5998 CC      1
2092 CC      1
5204 CC      1
2112 CC      1
1797 CC      1
Name: count, Length: 145, dtype: int64

Zauważ, że zmienna _engine_ jest typu _object_. Usuń 3 ostatnie znaki z każdego elementu i resztę skonwertuj na typ int. Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [93]:
df['engine'] = df['engine'].apply(lambda x: x[:-3]).astype(int)
df.head()

,unnamed: 0,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998,58.16 bhp,5.00,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582,126.2 bhp,5.00,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199,88.7 bhp,5.00,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248,88.76 bhp,7.00,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968,140.8 bhp,5.00,17.74

### <a name='6'></a> Ćwiczenie 166
Spójrz na rozkład zmiennej _power_. Zauważ, że ta zmienna ma także braki danych w postaci wartości _'null bhp'_. Zamień te wartości dla zmiennej _power_ na wartość _np.nan_. Wykorzystaj przy tym funkcję _np.where()_.

In [94]:
df = df.where(df != 'null bhp', other=np.nan)
df[df['power'].isnull()]

,unnamed: 0,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
76,76,Ford Fiesta 1.4 SXi TDCi,Jaipur,2008,111111,Diesel,Manual,First,17.8 kmpl,1399,NaN,5.00,2.00
79,79,Hyundai Santro Xing XL,Hyderabad,2005,87591,Petrol,Manual,First,0.0 kmpl,1086,NaN,5.00,1.30
89,89,Hyundai Santro Xing XO,Hyderabad,2007,73745,Petrol,Manual,First,17.0 kmpl,1086,NaN,5.00,2.10
120,120,Hyundai Santro Xing XL eRLX Euro III,Mumbai,2005,102000,Petrol,Manual,Second,17.0 kmpl,1086,NaN,5.00,0.85
143,143,Hyundai Santro Xing XO eRLX Euro II,Kochi,2008,80759,Petrol,Manual,Third,17.0 kmpl,1086,NaN,5.00,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5861,5861,Hyundai Santro Xing XO,Chennai,2007,79000,Petrol,Manual,First,17.0 kmpl,1086,NaN,5.00,1.85
5873,5873,Hyundai Santro Xing XO eRLX Euro II,Pune,2006,47200,Petrol,Manual,Second,17.0 kmpl,1086,NaN,5.00,1.20
5925,5925,Skoda Laura Classic 1.8 TSI,Pune,2010,85000,Petrol,Manual,First,17.5 kmpl,1798,NaN,5.00,2.85
5943,5943,Mahindra Jeep MM 540 DP,Chennai,2002,75000,Diesel,Manual,First,0.0 kmpl,2112,NaN,6.00,1.70
5985,5985,Toyota Etios GD,Delhi,2013,70000,Diesel,Manual,First,23.59 kmpl,1364,NaN,5.00,3.88

Usuń jeszcze raz wszystkie rekordy z brakami danych.

In [95]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5872 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   unnamed: 0         5872 non-null   int64
 1   name               5872 non-null   object
 2   location           5872 non-null   object
 3   year               5872 non-null   int64
 4   kilometers_driven  5872 non-null   int64
 5   fuel_type          5872 non-null   object
 6   transmission       5872 non-null   object
 7   owner_type         5872 non-null   object
 8   mileage            5872 non-null   object
 9   engine             5872 non-null   int64
 10  power              5872 non-null   object
 11  seats              5872 non-null   float64
 12  price              5872 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 642.2+ KB

### <a name='7'></a> Ćwiczenie 167
Zauważ, że zmienna _power_ jest typu _object_. Usuń 4 ostatnie znaki z każdego elementu i resztę skonwertuj na typ float.

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [96]:
df['power'] = df['power'].apply(lambda x: x[:-4]).astype(float)
df.head()

,unnamed: 0,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998,58.16,5.00,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582,126.20,5.00,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199,88.70,5.00,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248,88.76,7.00,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968,140.80,5.00,17.74

### <a name='8'></a> Ćwiczenie 168
Pogrupuj dane na poziomie roku (_year_) i policz liczbę rekordów dla każdego roku w obiekcie _df_.

In [97]:
df.groupby('year').size()

year
1998      3
1999      2
2000      4
2001      4
2002     11
2003     14
2004     25
2005     42
2006     66
2007    105
2008    162
2009    191
2010    333
2011    452
2012    562
2013    639
2014    794
2015    740
2016    737
2017    586
2018    298
2019    102
dtype: int64

### <a name='9'></a> Ćwiczenie 169
Sprawdź rozkład zmiennej _transmission_.

In [98]:
df['transmission'].value_counts()

transmission
Manual       4170
Automatic    1702
Name: count, dtype: int64

Dokonaj następującego mapowania zmiennej _transmission_:
* Manual -> 0
* Automatic -> 1

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [99]:
df['transmission'] = df['transmission'].map({'Manual' : 0, 'Automatic' : 1})
df.head()

,unnamed: 0,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,0,First,26.6 km/kg,998,58.16,5.00,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,0,First,19.67 kmpl,1582,126.20,5.00,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,0,First,18.2 kmpl,1199,88.70,5.00,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,0,First,20.77 kmpl,1248,88.76,7.00,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,1,Second,15.2 kmpl,1968,140.80,5.00,17.74

### <a name='10'></a> Ćwiczenie 170
Zapisz obiekt _df_ do pliku _car.csv_ (nie zapisuj indeksu).

In [102]:
df.to_csv('car.csv', index=False)

Uruchom poniższą instrukcję w celu sprawdzenia.

In [103]:
!head car.csv

unnamed: 0,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,0,First,26.6 km/kg,998,58.16,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,0,First,19.67 kmpl,1582,126.2,5.0,12.5
2,Honda Jazz V,Chennai,2011,46000,Petrol,0,First,18.2 kmpl,1199,88.7,5.0,4.5
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,0,First,20.77 kmpl,1248,88.76,7.0,6.0
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,1,Second,15.2 kmpl,1968,140.8,5.0,17.74
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,0,First,21.1 km/kg,814,55.2,5.0,2.35
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,0,First,23.08 kmpl,1461,63.1,5.0,3.5
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,1,First,11.36 kmpl,2755,171.5,8.0,17.5
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,0,First,20.54 kmpl,1598,103.6,5.0,5.2